html:not([data-looker-initialized]),
html[data-looker-initialized] {
  background-color: rgb(24, 24, 24);
  filter: brightness(0);
}

html[data-looker-initialized] {
  --lookerInvertFactor: 0.9;
  --lookerMediaInvertFactor: 1;
  --lookerSaturateFactor: 1;
  --lookerFilterTransitionDuration: 0.3s;
}

html[data-looker-hydrated]:not([data-looker-disabled]) {
  background-color: rgb(255, 255, 255) !important;
  filter: brightness(1) invert(var(--lookerInvertFactor))
    saturate(var(--lookerSaturateFactor));
}

html[data-looker-hydrated][data-looker-disabled] {
  background-color: unset;
  filter: unset;
}

html[data-looker-hydrated]:not([data-looker-disabled]) img,
html[data-looker-hydrated]:not([data-looker-disabled]) video,
html[data-looker-hydrated]:not([data-looker-disabled]) iframe {
  filter: invert(var(--lookerMediaInvertFactor));
}

html[data-looker-transition-ready] {
  transition: background-color 0.3s,
    filter var(--lookerFilterTransitionDuration);
}

html[data-looker-transition-ready] img,
html[data-looker-transition-ready] video {
  transition: filter var(--lookerFilterTransitionDuration);
}
