body[data-looker-initialized] {
  --lookerFilterTransitionDuration: 0.3s;
  transition: background 0.3s, filter var(--lookerFilterTransitionDuration);
}

body:not([data-looker-disabled]) {
  background-color: #181818 !important;
  --lookerInvertFactor: 0.9;
  --lookerSaturateFactor: 1;
  filter: invert(var(--lookerInvertFactor))
    saturate(var(--lookerSaturateFactor));
}

body[data-looker-initialized] img,
body[data-looker-initialized] video {
  transition: filter var(--lookerFilterTransitionDuration);
}

body:not([data-looker-disabled]) img,
body:not([data-looker-disabled]) video {
  filter: invert(1);
}

iframe {
  filter: invert(1);
}
